<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: auto;
            background-color:coral;
        }
        .container {
            margin-top: 200px;
        }
        .error {
            color: red;
        }
        input,label{
            margin-top:20px;
        }
        input{
            border: 1.5px solid black;
            border-radius: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="error">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username" required><br>
            <label for="password">Password:</label>
            <input type="password" name="password" required><br>
            <input type="submit" value="Login">
        </form>
        <p>Don't have an account? <a href="/register">Register</a></p>
    </div>
</body>
</html>
